 
table{
  background-image:url(59.jpg);
font-style: oblique;
background-size: 1470px 430px;
background-repeat: no-repeat;
color: aqua;
border-radius: 15px;
}
body{background-color:black;}
nav a:hover{ background-color:grey
  
}
fieldset{
  
  text-align: center;
  font-family: 'Segoe UI'
  font-style: italic;
  
}
*{
  color: aqua;
  font-weight: bold;
}
